@import url('https://fonts.googleapis.com/css?family=Muli:300|Roboto:300');

/* CSS declarations go here */
body {
  font-family: 'Muli', 'Roboto', sans-serif;
  background-color: #98FB98;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 15px;
}
 
.container {
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
header {
  background: #5b965b;
  padding: 45px 15px 15px 15px;
  position: relative;
}

.center {
  margin: auto;
  padding: 70px;
  text-align: center;
}

@media (max-width: 767px) {
  header {
    padding-top: 85px;
  }
}
 
.main-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.0em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
h1, h1 > a {
  color: #F2F2F2!important;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}
