a[data-passage] {
  visibility: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 40vh;
}

.center-invisible {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 40vh;
  visibility: hidden;
}

.start-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  max-width: 60%;
}

.show-buttons a[data-passage] {
  visibility: visible;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  max-width: 100%;
}

#continue {
  visibility: hidden;
}

#chat-area {
  border-color: white;
  border-style: solid;
  margin-top: 0.5em;
  padding: 0.5em;
  min-width: 60%;
}

.sans {
  font-family: SansUT;
}

body {
  font-family: DeterminationMono;
  font-size: 2.5em;
  color: white;
  background-color: black;
}

a {
  color: white;
}

/* If the screen size is 815px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 815px) {
  body {
    font-size: 1.5em;
  }
}

@font-face {
  font-family: DeterminationMono;
  src: url("twinemedia/font/DeterminationMonoWeb.woff") format("woff");
}

@font-face {
  font-family: SansUT;
  src: url("twinemedia/font/Comic-Sans-UT.woff") format("woff");
}
